<script type="text/javascript">
<!--
	candidate datagrid part
//-->
dgCandidate.datagrid(
		url : getRootPath() + "/candidate-list",
		fit : true,
		fitColumns : true,
		autoRowHeight : true,
		striped : true,
		nowrap : false,
		//分页
		pagination : true,
		//pageSize: 10,
		//pageList: [10, 20, 30, 40, 50]

		//rownumbers: true,
		checkOnSelect : true,
		columns : [ [ {
			field : "cid",
			checkbox : true
		}, {
			field : 'name',
			title : '姓名',
			//fixed : true,
			width : 100
		}, {
			field : 'gender',
			title : '性别',
			//fixed : true,
			width : 40
		}, {
			field : 'birthday',
			title : '出生年月',
			//fixed : true,
			width : 150
		}, {
			field : 'unit',
			title : '单位',
			//fixed : true,
			width : 150
		}, {
			field : 'status',
			title : '状态',
			//fixed : true,
			width : 100
		}, {
			field : 'credit',
			title : '学分总计',
			width : 100
		}, {
			field : 'trainings',
			title : '培训列表',
			width : 100
		} ] ],
		toolbar : '#tbCandidate'
	});

	// candidates datagrid end
</script>
<div id="centerTabs" class="easyui-tabs" fit="true" border="false">
	<div title="学员列表" closable="false">
		<table id="dgCandidate"></table>
	</div>

	<div title="培训项目列表" closable="false">
		<table id="dgTraining"></table>
	</div>

	<div title="excel 导入" closable="false">
		<table id="dgExcel"></table>
	</div>

	<!-- candidates toolbar start  -->
	<div id="tbCandidate">

		<div>
			<form id="searchFormCandidate">
				姓名: <input id="candidateName" name="name" style="width: 80px; line-height: 20px; border: 1px solid #ccc" />
				性别: <select id="gender" class="easyui-combobox" name="gender" style="width: 80px;">
					<option value="">all</option>
					<option value="男">男</option>
					<option value="女">女</option>
				</select> 
				单位: <input id="unit" name="unit" style="width: 80px; line-height: 20px; border: 1px solid #ccc" /> 
				状态: <select id="stat" class="easyui-combobox" name="stat" style="width: 80px;">
					<option value="">全部</option>
					<option value="1">在册</option>
					<option value="2">退休</option>
				</select> 
				<a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="searchCandidate()">Search</a> 
				<a href="#" class="easyui-linkbutton" iconCls="icon-reload" onclick="resetCandidate()">清空重置</a>
			</form>
		</div>
		<div>
			<a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="addCandidate()">增加</a> 
			<a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="deleteCandidate()">删除</a> 
			<a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" onclick="editCandidate()">修改</a>
		</div>
	</div>
	<!-- candidate toolbar end -->